.background1stInstallment {
     background-color: lightblue;
 }

.backgroundGradeSelect {
    background-color: lightcoral;
}

.background2ndInstallment {
    background-color: lightgreen;
}

.background3rdInstallment {
    background-color: lightpink;
}

.backgroundTotal {
    background-color: lightgray;
}

.backgroundTuition {
    background-color:  lightcyan;
}

.backgroundMinimum {
    background-color: white;
}

.col3 {
    width:33.3%;
    display: inline-block;
}
#logo_img {
    vertical-align: unset!important;
    margin-left: auto;
    margin-right: auto;
    display: block;

}
#label_select {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}
#feeTable td.name, th.name {min-width: 150px!important;}

.center{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: fit-content;
}